@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


:root {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    --color-one: #4691da;
    --color-two: lightblue;
    --color-three: darkblue;
    --color-four: #b1cee6;
    --color-sun: #ffc900;
}

.main-1 {
    height: 140vh;
    background: #07005d no-repeat radial-gradient(circle at 65% 0%,
    var(--color-sun) 0.5vh,
    var(--color-two),
    var(--color-one),
    transparent 140vh);
}


.background-img {
    position: fixed;
    z-index: -1
}

.footer {
    /*position: fixed;*/
    height: 100px;
    bottom: 0;
    width: 100%;
}

.main-blob {
    padding-top: 10px;
}

.main-padding {
    padding: 10px;
}


#cv-section {
    border-style: solid;
    background-color: var(--color-three);
    border-width: medium;
    border-color: var(--color-two);
    border-radius: 0.5em;
}