:root {
    --color-one: #4691da;
    --color-two: lightblue;
    --color-three: darkblue;
    --color-four: #b1cee6;
}

.main-1 {
    height: 150vh;
    background: radial-gradient(ellipse at 70% 0%, #ffc900 1vh,
        /*var(--color-four),*/ var(--color-two),
    var(--color-one),
    transparent),
    radial-gradient(ellipse at center, #522266, #522200);
}


.background-img {
    position: fixed;
    z-index: -1
}

.footer {
    /*position: fixed;*/
    height: 100px;
    bottom: 0;
    width: 100%;
}

.main-blob {
    padding-top: 10px;
}

.main-padding {
    padding: 10px;
}


#cv-section {
    border-style: solid;
    background-color: var(--color-three);
    border-width: medium;
    border-color: var(--color-two);
    border-radius: 0.5em;
}