{% extends 'blog/base_blog.html' %}
{% load staticfiles %}

{% block blog %}
    <ul class="list-unstyled">
        {% for post in all_blogs %}
            {% if post.is_published %}
                <li>
                    <div class="card m-2">
                        <div class="card-header">
                            <a class="text-xl-left" href="{{ post.id }}">{{ post.title }}:
                                <small class="text-muted">{{ post.date_published }}</small>
                            </a>
                            <div class="d-flex flex-row-reverse">
                                {% for tag in post.get_categories %}
                                    <span class="p-2 badge badge-secondary" style="margin: 0.5%;">
                                        {{ tag }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.get_preview|safe }}</p>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
