<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Resume and CV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/override_general.css" %}"/>
</head>

<body class="main-1">


{#NAVBAR#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{% url 'landing:index' %}"><img title="Mountain Drew"
                                                                  style="max-width:80px; margin-top: -7px; border-radius: 5px"
                                                                  src="{% static 'img/Baxter1.jpg' %}"
                                                                  alt="Mountain Drew"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'landing:index' %}">Home</a>
            </li>

{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="{% url 'landing:cv' %}">CV</a>#}
{#            </li>#}

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog:Blog' %}">Blog</a>
            </li>
        </ul>


    </div>
</nav>


{#MAIN CONTENT - BACKGROUND AND BLOCK#}
<div class="main-blob">

    <img src="{% static "img/mountain-outline.svg" %}" class="background-img" width="100%" height="500">
    <div class="row main-padding">
        <div class="col-md-2"></div>


        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-md-2"></div>
    </div>
</div>


{#FOOTER#}
<footer class="border-1 fixed-bottom navbar navbar-expand-lg navbar-light bg-light">This is an unused footer</footer>
<script src="{% static "/js/override_general.js" %}"></script>


{#SCRIPTS#}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static "/js/override_general.js" %}"></script>

</body>
</html>