{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container main-blob">
        <div class="myb jumbotron border border-dark">
            <h1 class="text-center display-4">Resume/CV</h1>
        </div>
        <div id="cv-section" class="container-fluid">
            <div class="row p-4">

                <div class="col-md border border-primary rounded text-center p-2">
                    <button type="button" id="pdf" onclick="ChooseThis(id)" class="btn btn-primary p-4">
                        Download pdf resume
                    </button>
                </div>

                <div class="col-md border border-primary rounded text-center p-2">
                    <button type="button" id="html" onclick="ChooseThis(id)" class="btn btn-primary p-4">
                        View resume
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/override_general.js' %}"></script>
{% endblock %}