{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        <div class="myb jumbotron border border-dark">
            <h1 class="display-3 text-center">Mountain Drew</h1>
            <hr>
            <hr>
            <p>I am an early career **dev** with a degree in Mathematics and Physics and three years in Education. I'm
                happy to write html/css/javascript, but I really enjoy working on the hidden parts. I like efficiently
                moving clean data around, I like clean and careful databases, I like efficient and readable code, but
                most of all, I like it when none of that is true and I get to help fix it.</p>
            <p>I am making this site as a way to learn more. I chose to use nginx/gunicorn/Django because of my comfort
                with python and Bootstrap to start. I plan to make changes and <a href="{% url 'blog:Blog' %}">blog</a>
                about what I learn.</p>
        </div>


{% endblock %}