{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="myb jumbotron border border-dark">
        <h1 class="display-3 text-center">Mountain Drew</h1>
        <hr>
        <hr>
        <p>Hi, I am Drew. I am a Boston-based developer who enjoys working with data, databases,
            APIs, and other hidden parts of an application that keep it running.</p>

        <p>For the past two years I wrote python everyday and
            <a href="https://xkcd.com/2054/">managed data pipelines</a> for an ed tech company.
            Before that, I taught <a href="https://xkcd.com/2117/">AP Calc</a> and other math
            courses at a charter school in Everett. I graduated with a BS in
            <a href="https://xkcd.com/410/">Math</a> and
            <a href="https://xkcd.com/1240/">Physics</a>from UMass Boston.</p>

        <p>This site is built with nginx/gunicorn/Django and uses Bootstrap to keep things simple.
            I’ll be writing
            about this and other work on my <a href="{% url 'blog:Blog' %}">blog</a>.</p>

        <p>When I am not programming, I am probably playing bass in my classic rock cover band,
            playing with synths,
            climbing a rock, or <span data-toggle="tooltip" title="This is my wife's commentary">
                finding another hobby that involves lots of gear.
            </span>
        </p>
    </div>
    <script>function f() {
        ('[data-toggle="tooltip"]').tooltip()
    }</script>


{% endblock %}