{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="myb jumbotron border border-dark">
        <h1 class="display-3 text-center">Mountain Drew</h1>
        <hr>
        <hr>
        <p>I am an early career developer with a degree in Mathematics and Physics, two years writing python (a
            lot more for fun!) and three years in Education. I'm happy to write html/css/javascript, but I really enjoy
            working with data, databases, APIs, and other hidden parts of an application that keep it running.</p>
        <p>I am making this site as a tool to push me to learn more. I chose to use nginx/gunicorn/Django because of my
            comfort with python and I'm using Bootstrap to start. This is only a rough start, but I plan to make changes
            and <a href="{% url 'blog:Blog' %}">blog</a> about what I learn.</p>
    </div>


{% endblock %}